@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700;800&display=swap');
* { 
  box-sizing: border-box; 
  outline: none; 
  font-family: "Nanum Gothic", sans-serif; 
}

html {
  font-size: 13px;
}

body { 
  margin: 0;
  color: #000;
}

ul, ol {
  list-style: none;
}

ul, ol, dl, dt, dd {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: #000;
}

img {
  border: 0;
}

.layout-width {
  max-width: 1200px;
  min-width: 1000px;
  margin: 0 auto;
}